<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/resultado" method="get">
        <p>Escreva um número para podermos aplicar a forma do quadrado</p>
        <input type="text" name="numero">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>